*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* 
------------------
debug
------------------
 */

 /* .debug header .header-top{
    height: 80px;
 }


 .debug header .header-top .contenitore-1 {
    
    height: 40px; 
} */

/* .debug header .header-bottom{
    height: 500px;
} */

/* .debug header .header-bottom .box-one{
    height: 440px;
} 
.debug main .main-base{
    height: 500px;
} 
.debug main .main-base .img{
    height: 440px;
} */

/* .debug main .main-base .rosa{
    height: 440px;
} */
/* .debug main .main-base:last-child{
    height: 1000px;
}
.debug main .main-base:last-child .green{
    height: 800px; */


.debug footer .footer .colum{
    height: 400px;
}

.debug footer .footer .footer-box{
    height:60px;
 }
 .debug footer .footer .footer-box .footer-item{
    height: 30px;
 }
/* 
------------------
Common
------------------
 */
.container{
    margin: 0s auto;
}

.container.big{
    max-width: 1200px;
}
.container.small{
    max-width: 900px;
}

.accesso{
    text-decoration: none;
    border-radius: 25%;
    padding: 5px;
    border: none;
}
.bottone{
    padding: 20px;
    font-size: 17px;
}
 /* 
------------------
header-top
------------------
 */
header{
    border-bottom: 4px solid #255ee9;
    color: white;
 }
.header-top{
    background-color: #255ee9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.contenitore-1{
    display: flex;
    align-items: center;
    width: 1000px;
 border: 1px solid black;
 }
 
.logo{
    width: 20%;
    height: 100%;
    vertical-align: middle;
 }

.link{
    vertical-align: middle;
    width: 60%;
    text-align: center;
 }
 header .header-top .contenitore-1 .link ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
 }
 header .header-top .contenitore-1 .link ul li a{
    text-decoration: none;
    color: white;
 }

 /* non va a destra ?? */
 header .header-top .contenitore-1 .login .accesso{
    background-color: white;
    color: #23272a;
    border: 1px solid white;
    text-align:end;
 }

  /* 
------------------
header-bottom
------------------
 */

 .header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 40px 0;
 }

 .box-one{
     max-width: 60%;
     margin:0 auto;
     text-align: center;
     line-height: 30px;
     font-size: 1.35em;
     
 }
.titolo{
    padding: 40px 0;
}
.paragrafo{
    padding: 0 80px 40px 80px;
}
#bottone-due{
    margin-left: 20px;
    background-color: #23272a;
    color: white;
}
 /* 
------------------
main
------------------
 */
 main .main-base:nth-child(even){
   background-color: #f6f6f6;
 }
.main-base{
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;

}

.main-contenuto{
    padding-top: 35px;
    max-width: 30%;
    font-size: 1.35em;
}
.main-paragrafo{ 
    padding-top: 35px; 
    font-size: 0.8em;
    line-height: 30px;
}
.img{
    max-width: 50%;
}

#reverse{
    flex-direction: row-reverse;
}

.green{
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-size: 1.35em;
}
.green-title{
    padding: 20px 0;
}

main .main-base .green p{
    font-size: 0.8em;
    text-align: center;
}
main .main-base .green h3{
    padding:0 0 40px 0;
}
#star{
    
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    margin:0 400px ;
}
#bottone-green{
    background-color:#7289da;
    color: white;
    font-size: 0.5em;

}
/* 
------------------
footer
------------------
 */

 footer{
    background-color: #23272a;
}
 hr{
    color: lightslategray;
 }
.colum{
    /* background-color: #20b2aa; */
    width: calc(80% / 5);
    font-size: 16px;
    color: white;
}
.colum-title{
    font-size: 1.5em;
    color: #7289da;
    padding: 30px 0 ;
}
#special-colum{
    width: 34%;
}
#bandiera{
    width: 18px;
}
.lista-colonna{
   list-style: none;
}

.lista-colonna li a{
    text-decoration: none;
    color: white;
    line-height: 40px;
}
 .footer{
   display: flex;
   justify-content: center;
   padding: 20px 20px 0 20px;
} 

.footer-box{
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#bottone-footer{
    background-color:#7289da;
    color: white;
    font-size: 11px;
    vertical-align: middle;
}
.icon{
    display: flex;
    gap: 10px;
}